<%- layout('/layout/boilerplate.ejs') %>

<div class="portfolio-main">
  <div class="left-side">
    <h1 class="main-header">Portfolio Summary</h4>
    <div class="asset-summary">
     
      <div id="total-info">
          <div class="total-info-top">
            <div class="total-info-detail">
              <p class="text-muted">Invested</p>
              <p>$<%=totalInfo.totalInvestedAmount %></p>
            </div>
            <div class="total-info-detail">
              <p class="text-muted">Current</p>
              <p>$<%= totalInfo.totalValue %></p>
            </div>
          </div>
         
          

          <div class="total-info-bottom">
            <p class="text-muted">P&L</p>
          <p id="percentage-total"  style="color: <%= totalInfo.totalValue - totalInfo.totalInvestedAmount >= 0? 'green':'red' %> "> <%= totalInfo.totalValue - totalInfo.totalInvestedAmount >= 0? '+':'' %>$<%=(totalInfo.totalValue -  totalInfo.totalInvestedAmount).toFixed(2) %> <span class="small-text"><%= totalInfo.totalValue - totalInfo.totalInvestedAmount >= 0? '+':'' %><%= totalInfo.finalProfitAndLoss  %>%</span></p>

          </div>
                  
      </div>
      <h4 class="mt-1 asset-header">Current Holdings</h4>
      <div class="scrolling-asset">
        <% for(let company of testData) {%>
          <div class="asset">
            <div class="asset-left">
              <p><%= company.stockName %></p>
              <p class="text-muted">
                <%= company.noOfStock %> x $<%= (company.testStockPrice * 1).toFixed(2) %>
              </p>
              <p>Current Price: <%= (company.currentPrice * 1).toFixed(2) %></p>
            </div>
            <div class="asset-right">
              <p>Total value: $<%= (company.totalValue * 1).toFixed(2) %></p>
              <p
                style="color: <%= company.totalValue - company.investedAmount >= 0? 'green':'red' %> "
              >
                P/L: $<%= ((company.totalValue - company.investedAmount) *
                1).toFixed(2) %> (<%= (company.pAndLossPerc * 1).toFixed(2) %> %)
              </p>
              <% if(company.isCustomAsset) {%>
                  <form action="/updateStock" method="post">
                    <button id="customPriceUpdate" type="submit" name="stockName" value="<%=company.stockName%> ">Update Current Price</button>
                  </form>
              <% } %> 
            </div>
          </div>
          <% } %>
      </div>
      
      
     
    </div>
  </div>

  <div class="tools">
    <div class="add-stock">
      <form autocomplete="off" action="/addStock" class="mb-3 add-stock-form" method="post">
        <div class="card card-bg">
          <div class="card-body">
            <h5 class="card-title mb-2">Add stock</h5>
            <label class="mb-3" for="nAsset"
              ><input
                type="radio"
                id="nAsset"
                name="format"
                value="NormalAsset"
                class="asset-check"
                checked
              />
              Normal Asset</label
            ><label for="cAsset"
              ><input
                type="radio"
                name="format"
                id="cAsset"
                value="customAsset"
                class="asset-check"
              />
              Custom Asset</label
            >

            
            <div id="normal-asset">
              <h5 class="mb-1">Exchange of stock:</h5>
            <label class="mb-2 mr-2" for="nasdaq"
            ><input
              type="radio"
              id="nasdaq"
              name="exchange"
              value="nasdaq"
              class="asset-check"
              checked
            />
            NASDAQ</label
          ><label for="nse"
            ><input
              type="radio"
              name="exchange"
              id="nse"
              value="nse"
              class="asset-check"
            />
            NSE</label
          >
              <div class="mb-1">
                <label for="companyName" class="form-label"
                  >Company Name:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="companyName"
                  name="company[companyName]"
                  placeholder="Company Name"
                />
                <ul class="list" id="list"></ul>
              </div>
              <div class="mb-3">
                <label for="quantity" class="form-label">Quantity</label>
                <input
                  type="Number"
                  class="form-control"
                  id="quantity"
                  placeholder="Quantity"
                  name="company[quantity]"
                  min="1"
                />
              </div>
              <div class="mb-3">
                <label class="stock-price-form" for="curStockPrice">
                  <input
                    type="radio"
                    id="curStockPrice"
                    name="company[isStockPrice]"
                    class="stock-price-radio"
                    value="false"
                    checked
                  />
                  Current Price</label
                >
                <label class="stock-price-form" for="cusStockPrice">
                  <input
                    type="radio"
                    id="cusStockPrice"
                    class="stock-price-radio"
                    name="company[isStockPrice]"
                    value="true"
                  />
                  Custom Price</label
                >
              </div>
              <div class="mb-3" id="price-form">
                <label for="price" class="form-label">Stock Price</label>
                <input
                  type="Number"
                  min="0"
                  class="form-control"
                  id="price"
                  placeholder="Stock Price"
                  name="company[stockPrice]"
                  min="1"
                />
              </div>
            </div>
            <div id="custom-asset">
              <div class="mb-1">
                <label for="assetName" class="form-label">Asset Name:</label>
                <input
                  type="text"
                  class="form-control"
                  id="assetName"
                  name="asset[companyName]"
                  placeholder="Asset Name"
                />
              </div>
              <div class="mb-3">
                <label for="assetQuantity" class="form-label">Quantity</label>
                <input
                  type="Number"
                  class="form-control"
                  id="assetQuantity"
                  placeholder="Quantity"
                  name="asset[quantity]"
                  min="1"
                />
              </div>

              <div class="mb-3">
                <label for="assetPrice" class="form-label">Asset Price</label>
                <input
                  type="Number"
                  min="0"
                  class="form-control"
                  id="assetPrice"
                  placeholder="Price"
                  name="asset[stockPrice]"
                  min="1"
                />
              </div>
            </div>
            <button type="submit" class="btn btn-success">Add Stock</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="assets-info">
  <div class="chart-info">
    <h1 class="main-header header-two center">Asset Visualization</h4>
      <div id="chart-field">
        <div class="pie-chart">
          <canvas id="myChart"></canvas>
        </div>
        <div id="barChart">
          <canvas id="myBarChart"></canvas>
        </div>
      </div>
  </div>
  <div class="asset-top-list">
    <h3 class="center" >Top Performers</h3>
    <ol>
      <% for(let company of topGainers) { %>   
      <li class="performer"> 
        <%= company.i + 1 %>. <%= company.name %> 
        <div class="value-asset " style="color: <%= company.value >= 0? 'green':'red' %> "> <%= (company.value * 1).toFixed(2) %>%</div>
      </li>
      <% } %> 
     
    </ol>
  </div>
  
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const labelArray = "<%-stockLabel%>".split(",");
  const valueArray = "<%-stockValue%>".split(",");

  const labels = labelArray;

  const data = {
    labels: labels,
    datasets: [
      {
        label: "My First dataset",
        backgroundColor: [
          "rgba(0, 0, 255, 0.6)",
          "rgba(255, 0, 0, 0.6)",
          "rgba(0, 128, 0, 0.6)",
          "rgba(0, 0, 0, 0.6)",
          "rgb(255, 99, 132,0.6)",
          "rgba(245, 40, 145, 0.6)",
          "rgba(37, 36, 190, 0.6)",
          "rgba(0, 206, 255, 0.6)",
          "rgba(0, 255, 96, 0.6)",
          "rgba(22, 47, 15, 0.6)",

          ,
        ],
        borderColor: "rgb(255,255,255)",
        data: valueArray,
      },
    ],
  };

  const config = {
    type: "pie",
    data: data,
    options: {},
  };

  const myChart = new Chart(document.getElementById("myChart"), config);
</script>

<script>
  const stockPriceChecker = document.querySelectorAll(".stock-price-radio");
  const priceForm = document.querySelector("#price-form");

  const assetChecker = document.querySelectorAll(".asset-check");
  const normalAssetForm = document.getElementById("normal-asset");
  const customAssetForm = document.getElementById("custom-asset");

  stockPriceChecker.forEach((btn) => {
    btn.addEventListener("click", (e) => {
      if (e.target.id === "cusStockPrice") {
        priceForm.style.display = "block";
      } else {
        priceForm.style.display = "none";
      }
    });

    assetChecker.forEach((btn) => {
      btn.addEventListener("click", (e) => {
        if (e.target.id === "cAsset") {
          normalAssetForm.style.display = "none";
          customAssetForm.style.display = "block";
        } else {
          normalAssetForm.style.display = "block";
          customAssetForm.style.display = "none";
        }
      });
    });
  });
</script>

<script>
  const labelBar = "<%-testData.map((data) => data.stockName)%>".split(",");
  const totalValueArray = "<%-testData.map((data) => data.totalValue)%>".split(
    ","
  );
  const totalInvestment =
    "<%-testData.map((data) => data.investedAmount)%>".split(",");


  // setup
  const dataBar = {
    labels: labelBar,
    datasets: [
      {
        label: "Invested Amount",
        data: totalInvestment,
        backgroundColor: ["#ABD6DFFF"],
        borderColor: ["black"],
        borderWidth: 1,
      },
      {
        label: "Total Value",
        data: totalValueArray,
        backgroundColor: ["#7DB46CFF"],
        borderColor: ["black"],
        borderWidth: 1,
      },
    ],
  };

  // config
  const configBar = {
    type: "bar",
    data: dataBar,
  };

  // render init block
  const myBarChart = new Chart(
    document.getElementById("myBarChart"),
    configBar
  );
</script>


<script>
  const NASDAQ = [
  "Apple Inc.",
  "Airbnb, Inc.",
  "Adobe Inc.",
  "Analog Devices, Inc.",
  "Automatic Data Processing, Inc.",
  "Autodesk, Inc.",
  "American Electric Power Company, Inc.",
  "Align Technology, Inc.",
  "Applied Materials, Inc.",
  "Advanced Micro Devices, Inc.",
  "Amgen Inc.",
  "Amazon.com, Inc. ",
  "Activision Blizzard, Inc",
  "Broadcom Inc.",
  "Astrazeneca PLC",
  "Baidu, Inc.",
  "Biogen Inc.",
  "Booking Holdings Inc.",
  "Cadence Design Systems, Inc.",
  "Constellation Energy Corporation",
  "Charter Communications, Inc.",
  "Comcast Corporation",
  "Costco Wholesale Corporation",
  "Copart, Inc.",
  "CrowdStrike Holdings, Inc.",
  "Cisco Systems, Inc.",
  " Cintas Corporation",
  "Cognizant Technology Solutions Corporation",
  "Datadog, Inc.",
  "Dollar Tree, Inc.",
  "DocuSign, Inc.",
  "DexCom, Inc.",
  "Electronic Arts Inc.",
  "eBay Inc.",
  "Exelon Corporation",
  "Fastenal Company",
  "Fiserv, Inc.",
  "Fortinet, Inc.",
  "Gilead Sciences, Inc.",
  "Alphabet Inc.",
  "Honeywell International Inc. ",
  "Intel Corporation",
  "Intuit Inc.",
  "Intuitive Surgical, Inc.",
  "JD.com, Inc.",
  "Keurig Dr Pepper Inc.",
  "The Kraft Heinz Company",
  "Lucid Group, Inc.",
  "Lam Research Corporation",
  "lululemon athletica inc.",
  "Marriott International",
  "Microchip Technology Incorporated",
  "Mondelez International, Inc.",
  "MercadoLibre, Inc.",
  "Meta Platforms, Inc.",
  "Monster Beverage Corporation",
  "Moderna, Inc.",
  "Marvell Technology, Inc.",
  "Microsoft Corporation",
  "Match Group, Inc.",
  "Micron Technology, Inc.",
  "Netflix, Inc.",
  "NetEase, Inc.",
  "NVIDIA Corporation",
  "Old Dominion Freight Line, Inc.",
  "Okta, Inc.",
  "O'Reilly Automotive, Inc.",
  "Palo Alto Networks, Inc.",
  "Paychex, Inc.",
  "Pinduoduo Inc.",
  "Pepsico, Inc.",
  "PayPal Holdings, Inc.",
  "QUALCOMM Incorporated",
  "Regeneron Pharmaceuticals, Inc.",
  "Ross Stores, Inc.",
  "Starbucks Corporation",
  "Seagen Inc.",
  "Sirius XM Holdings Inc.",
  "Synopsys, Inc.",
  "Splunk Inc.",
  "Skyworks Solutions, Inc.",
  "Atlassian Corporation Plc",
  "T-Mobile US, Inc.",
  "Tesla, Inc.",
  "Texas Instruments Incorporated",
  "Verisk Analytics, Inc.",
  "VeriSign, Inc.",
  "Vertex Pharmaceuticals Incorporated",
  "Walgreens Boots Alliance, Inc.",
  "Workday, Inc.",
  "Xcel Energy Inc.",
  "Zoom Video Communications, Inc.",
  "Zscaler, Inc.",
];

  const companyNameInputField = document.getElementById("companyName")


  const listSection = document.getElementById(list)

  companyNameInputField.addEventListener("keyup", (e) => {
    const foundedItems = []
    const enteredInput = e.target.value.toLowerCase()
    removeElements();
    if(enteredInput.trim().length > 0){
      let count = 0
      for (let i of NASDAQ) {
        if(count === 4) break
    //convert input to lowercase and compare with each string
    if (
      i.toLowerCase().startsWith(enteredInput)) {
      //create li element
      let listItem = document.createElement("li");
      //One common class name
      listItem.classList.add("list-items");
      listItem.style.cursor = "pointer";
      listItem.setAttribute("onclick", "displayNames('" + i + "')");
      //Display matched part in bold
      let word = "<b>" + i.substr(0, enteredInput.length) + "</b>";
      word += i.substr(enteredInput.length);
      //display the value in array
      listItem.innerHTML = word;
      document.querySelector(".list").appendChild(listItem);
      count++;
    }
  }
    }

});
  function displayNames(value) {
  companyNameInputField.value = value;
  removeElements();
}

function removeElements() {
  //clear all the item
  let items = document.querySelectorAll(".list-items");
  items.forEach((item) => {
    item.remove();
  });}
</script>