<%- layout('/layout/boilerplate.ejs') %>

<div class="portfolio-main">
  <div class="left-side">
    <h4 style="margin-left: 80px">Portfolio Summary</h4>
    <div class="asset-summary">
      <h4 class="mb-4">Current Holdings</h4>

      <% for(let company of testData) {%>
      <div class="asset">
        <div class="asset-left">
          <p><%= company.stockName %></p>
          <p class="text-muted">
            <%= company.noOfStock %> x Rs.<%= company.testStockPrice %>
          </p>
          <p>Current Price: <%= (company.currentPrice * 1).toFixed(2) %></p>
        </div>
        <div class="asset-right">
          <p>Total value: Rs <%= (company.totalValue * 1).toFixed(2) %></p>
          <p
            style="color: <%= company.totalValue - company.investedAmount > 0? 'green':'red' %> "
          >
            P/L: Rs<%= ((company.investedAmount - company.totalValue) *
            1).toFixed(2) %> (<%= company.pAndLossPerc %> %)
          </p>
        </div>
      </div>
      <% } %>
    </div>
  </div>

  <div class="tools">
    <div class="add-stock">
      <form action="/addStock" class="mb-3 add-stock-form" method="post">
        <div class="card card-bg">
          <div class="card-body">
            <h5 class="card-title mb-2">Add stock</h5>
            <label class="mb-3" for="nAsset"
              ><input
                type="radio"
                id="nAsset"
                name="format"
                value="NormalAsset"
                class="asset-check"
                checked
              />
              Normal Asset</label
            ><label for="cAsset"
              ><input
                type="radio"
                name="format"
                id="cAsset"
                value="customAsset"
                class="asset-check"
              />
              Custom Asset</label
            >
            <div id="normal-asset">
              <div class="mb-1">
                <label for="companyName" class="form-label"
                  >Company Name:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="companyName"
                  name="company[companyName]"
                  placeholder="Company Name"
                />
              </div>
              <div class="mb-3">
                <label for="quantity" class="form-label">Quantity</label>
                <input
                  type="Number"
                  class="form-control"
                  id="quantity"
                  placeholder="Quantity"
                  name="company[quantity]"
                />
              </div>
              <div class="mb-3">
                <label class="stock-price-form" for="curStockPrice">
                  <input
                    type="radio"
                    id="curStockPrice"
                    name="company[isStockPrice]"
                    class="stock-price-radio"
                    value="false"
                    checked
                  />
                  Current Price</label
                >
                <label class="stock-price-form" for="cusStockPrice">
                  <input
                    type="radio"
                    id="cusStockPrice"
                    class="stock-price-radio"
                    name="company[isStockPrice]"
                    value="true"
                  />
                  Custom Price</label
                >
              </div>
              <div class="mb-3" id="price-form">
                <label for="price" class="form-label">Stock Price</label>
                <input
                  type="Number"
                  min="0"
                  class="form-control"
                  id="price"
                  placeholder="Stock Price"
                  name="company[stockPrice]"
                />
              </div>
            </div>
            <div id="custom-asset">
              <div class="mb-1">
                <label for="assetName" class="form-label">Asset Name:</label>
                <input
                  type="text"
                  class="form-control"
                  id="assetName"
                  name="asset[companyName]"
                  placeholder="Asset Name"
                />
              </div>
              <div class="mb-3">
                <label for="assetQuantity" class="form-label">Quantity</label>
                <input
                  type="Number"
                  class="form-control"
                  id="assetQuantity"
                  placeholder="Quantity"
                  name="asset[quantity]"
                />
              </div>

              <div class="mb-3">
                <label for="assetPrice" class="form-label">Asset Price</label>
                <input
                  type="Number"
                  min="0"
                  class="form-control"
                  id="assetPrice"
                  placeholder="Price"
                  name="asset[stockPrice]"
                />
              </div>
            </div>
            <button type="submit" class="btn btn-success">Add Stock</button>
          </div>
        </div>
      </form>
    </div>
    <div class="pie-chart">
      <h4>Asset Visualization</h4>
      <canvas id="myChart"></canvas>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const labelArray = "<%-stockLabel%>".split(",");
  const valueArray = "<%-stockValue%>".split(",");

  const labels = labelArray;

  const data = {
    labels: labels,
    datasets: [
      {
        label: "My First dataset",
        backgroundColor: [
          "rgba(0, 0, 255, 0.6)",
          "rgba(255, 0, 0, 0.6)",
          "rgba(0, 128, 0, 0.6)",
          "rgba(0, 0, 0, 0.6)",
          "rgb(255, 99, 132,0.6)",
          "rgba(245, 40, 145, 0.6)",
          "rgba(37, 36, 190, 0.6)",
          "rgba(0, 206, 255, 0.6)",
          "rgba(0, 255, 96, 0.6)",
          "rgba(22, 47, 15, 0.6)",

          ,
        ],
        borderColor: "rgb(255,255,255)",
        data: valueArray,
      },
    ],
  };

  const config = {
    type: "pie",
    data: data,
    options: {},
  };

  const myChart = new Chart(document.getElementById("myChart"), config);
</script>

<script>
  const stockPriceChecker = document.querySelectorAll(".stock-price-radio");
  const priceForm = document.querySelector("#price-form");

  const assetChecker = document.querySelectorAll(".asset-check");
  const normalAssetForm = document.getElementById("normal-asset");
  const customAssetForm = document.getElementById("custom-asset");

  stockPriceChecker.forEach((btn) => {
    btn.addEventListener("click", (e) => {
      if (e.target.id === "cusStockPrice") {
        priceForm.style.display = "block";
      } else {
        priceForm.style.display = "none";
      }
    });

    assetChecker.forEach((btn) => {
      btn.addEventListener("click", (e) => {
        if (e.target.id === "cAsset") {
          normalAssetForm.style.display = "none";
          customAssetForm.style.display = "block";
        } else {
          normalAssetForm.style.display = "block";
          customAssetForm.style.display = "none";
        }
      });
    });
  });
</script>
