<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="robots" content="follow"/>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Your personal financial asset tracker website: Asset Tracker helps you track all your financial assets. In this website, the users will get live day to day update of their stocks as well as they can track their personal assets. The website provide you with all necessary information regarding your assets like their percentage gain/loss and your total savings."/>

    <meta name="keywords" content="Asset tracker, finance, finance tracking, stock market, personal asset"/>

    <meta name="author" content="Ameen Noushad" />

<meta name="copyright" content="Copyright AssetTracker" />
    <!-- Custom css -->
    
    <link rel="stylesheet" href="styles.css" />
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title><%= titleName %> </title>
</head>
  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <%- include("../partials/flash.ejs") %>
      

    <main><%- body %></main>
    <%- include("../partials/footer.ejs") %>

    
  </body>
</html>
